{% extends "base.html" %}

{% block title %}Dashboard - Auditoria de Rebanho{% endblock %}

{% block content %}
    <section class="dashboard">
        <div class="stats">
            <div class="stat-card">
                <h3>Total de Gado</h3>
                <h3 id="cattle-count">{{ cattle_count }}</h3>
            </div>
            <div class="stat-card">
                <h3>Total de Fêmeas</h3>
                <h3 id="cow-count">{{ cow_count }}</h3>
            </div>
            <div class="stat-card">
                <h3>Total de Machos</h3>
                <h3 id="bull-count">{{ bull_count }}</h3>
            </div>
        </div>
    </section>

{#    <section class="cattle-structure">#}
{#        <div>#}
{#            <h3>Estrutura do Rebanho</h3>#}
{#        </div>#}
{#        <br>#}
{#        <div class="stats">#}
{#            <div class="stat-card">#}
{#                <h3>Bezerros</h3>#}
{#                <h3 id="">?</h3>#}
{#            </div>#}
{#            <div class="stat-card">#}
{#                <h3>Novilhas</h3>#}
{#                <h3 id="">?</h3>#}
{#            </div>#}
{#            <div class="stat-card">#}
{#                <h3>Garrotes</h3>#}
{#                <h3 id="">?</h3>#}
{#            </div>#}
{#            <div class="stat-card">#}
{#                <h3>Vacas</h3>#}
{#                <h3 id="">?</h3>#}
{#            </div>#}
{#            <div class="stat-card">#}
{#                <h3>Bois</h3>#}
{#                <h3 id="">?</h3>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <section class="births-by-month">
        <div class="stats">
            <div class="stat-card">
                <canvas id="birthsChart"></canvas>
            </div>
        </div>
    </section>

     <section class="">
        <div class="stats">
            <div class="stat-card">
                <h3>Nascimentos no ano ({{ current_year }})</h3>
                <h3 id="births-this-year">{{ births_this_year }}</h3>
            </div>
            <div class="stat-card">
                <h3>Média de idade do rebanho</h3>
                <h3 id="cow-count">4,2 anos</h3>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_extra %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
    const data = {
        labels: labels,
        datasets: [
            {
                label: 'Machos',
                data: {{ births_by_month.male | tojson }},
                borderColor: 'rgb(0 121 204)',
                backgroundColor: 'rgb(46 147 216)',
                borderWidth: 0,
                borderRadius: 7,
                borderSkipped: false,
            },
            {
                label: 'Fêmeas',
                data: {{ births_by_month.female | tojson }},
                borderColor: 'rgb(230 117 142)',
                backgroundColor: 'rgb(230 117 142)',
                borderWidth: 0,
                borderRadius: 7,
                borderSkipped: false,
            }
        ]
    };

    new Chart(document.getElementById('birthsChart'), {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            aspectRatio: 4,
            plugins: {
                legend: { position: 'top' },
                title: {
                    display: true,
                    text: 'Nascimentos por mês em {{ current_year }}'
                }
            }
        }
    });
</script>
{% endblock %}
